input {
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  background: var(--300, #E2E8F0);
  padding: 12px;

  &:focus {
    outline: solid;
    outline-width: 2px;
    outline-color: var(--primary-color-2);
  }
}

label {
  font-weight: 600;
  margin-left: 10px;
  color: var(--primary-color-2);
}

.order-container {
  display: flex;
  /* width: 120%; */
  /* min-width: auto; */
  overflow-y: auto;
  /* padding: 20px 15px; */
  height: 90vh;
  padding-top: 80px;

  justify-content: center;
  align-content: center;
}

.left {
  padding-left: 40px;
  width: 70%;
  border-radius: 10px;
  background: var(--primary-color-3);
}

.progress-checkout-container {
  display: flex;

}

.progress-checkout-step {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-left: 83px;
}

#step-check {
  height: 30px;
  width: 30px;
  border-radius: 30px;
  background-image: url(/assets/img/circle-check-solid.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
  position: relative;
  margin-left: 32px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 100px;
}

.First-name {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
}

#First-name {
  width: 302px;
  height: 36px;
  border: none;
}

.Phone {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
  padding-left: 38px;
}

#Phone {
  width: 302px;
  height: 36px;
  border: none;
}

.Email {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
  margin-top: 20px;
}

#Email {
  width: 302px;
  height: 36px;
  border: none;
}

.Date {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
  padding-left: 38px;
  margin-top: 20px;
}

#Date {
  width: 302px;
  height: 36px;
  border: none;
}

.Address {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
  margin-top: 30px;
}

#Address {
  width: 640px;
  height: 35px;
  border: none;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.left>hr {
  /* margin: 50px 40px 40px 0; */
  margin: 28px 40px 21px 0px;
  height: 1px;
  background-color: var(--primary-color-2);
  border: none;
}

/* .Payment input {
  width: 160px;
  height: 42px;
  background-color: #3182ce;
  border-radius: 15px;
  border: none;
  color: #f7fafc;
} */

.btn {
  display: inline-block;
  background: var(--primary-color-1);
  border-radius: 8px;
  min-width: 98px;
  padding: 18px 60px;
  color: var(--primary-color-2);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out;
}

.cancel-order {
  font-size: 15px;
  margin-top: 12px;
  margin-right: 20px;
  margin-left: 300px;
  line-height: 22px;
}

.cancel-order>a {
  color: var(--primary-color-1);
}

.right {
  border-radius: 10px;
  background: #718096;
  width: 30%;
  padding: 20px;
  margin-left: 20px;
}

#code {
  width: 195px;
}

.sub-title {
  padding-top: 40px;
  padding-bottom: 12px;
  color: #000;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;

  line-height: normal;

}

.row3 img {
  width: 287px;
  height: 148px;
}

.row4 {
  display: flex;
  margin-top: 15px;
  flex-direction: column;
  justify-content: center;
}

.product-qty {
  margin-left: 174px;
  margin-top: -35px;
}

.decrement,
.increment {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  background-color: #e2e8f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.remove-outline {
  width: 15px;
  height: 15px;
}

#quantity {
  padding-left: 10px;
  padding-right: 10px;
}

.add-outline {
  width: 15px;
  height: 15px;
}

.title {
  padding-bottom: 4px;
  font-size: 16px;
}

.title2 {
  font-size: 16px;
}

.row5 {
  display: flex;
  /* justify-content: space-evenly; */
  /* align-items: flex-end; */
  /* margin-top: 32px; */
  flex-direction: row;
}

.Code label {
  font-size: 12px;
  color: blueviolet;
  margin-top: 15px;
}

/* #Code {
  margin-top: 7px;
  width: 184px;
  border-radius: 5px;
  background: var(--300, #e2e8f0);
  border: none;
} */

.apply {
  margin-right: 22px;
  color: var(--600, #3182ce);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 3px;
  height: 35px;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
  margin-right: auto;
  margin-top: auto;
}

.row6 {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.title3 p {
  font-size: 15px;
}

.money2 p {
  font-size: 15px;
  /* margin-right: 24px; */
}

.row7 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.row8 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.row9 {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.row-for-account {
  padding-top: 66px;

}

.row-for-account>label {
  margin-top: -20px;
  margin-bottom: 13px;
  margin-left: 83px;
  color: #000;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;

  line-height: normal;
}

.Password {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
  margin-top: 38px;
}

.Password label {
  margin-left: 83px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#Password {
  width: 470px;
  height: 44px;
  border: none;
  margin-left: 77px;
  margin-right: 77px;
  margin-top: 12px;
}

.Account {
  width: 302px;
  height: 58px;
  flex-shrink: 0;
  margin-top: 35px;

}

.Account label {
  margin-left: 83px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#Account {
  width: 470px;
  height: 44px;
  border: none;
  margin-left: 77px;
  margin-right: 77px;
  margin-top: 12px;
}

.Login-and-Register {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: 45px;
  margin-right: 148px;
}

.Register {
  margin-right: 75px;
  margin-top: 21px;
  font-size: 16px;
  color: black;
  font-family: 'Poppins', sans-serif;
}
.Register a{
  color: #ffe492;
}
.Login button {
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  cursor: pointer;
  color: var(--primary-color-2);
  background-color: var(--primary-color-1);
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
}

.Shipping {
  display: inline-block;
  background: var(--primary-color-1);
  border-radius: 8px;
  min-width: 98px;
  padding: 18px 30px;
  color: var(--primary-color-2);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: 0.3s ease-in-out;
}

.row>label{
  margin-top: -20px;
  margin-bottom: 13px;
  color: #000;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;

  line-height: normal;
}

.row-for-payment>label {
  margin-top: 30px;
  margin-left: 64px;
  color: #000;
  font-weight: 700;
  font-size: 25px;
  font-style: normal;

  line-height: normal;
}

.Select-payment {
  margin-top: -5px;
}

.Select-payment label {
  font-size: 16px;
  margin-top: 15px;
  margin-left: 67px;

}

.Select-cash-card {
  width: 25%;
  height: 40px;
  /* flex-shrink: 0; */
  border-radius: 5px;
  background: var(--300, #E2E8F0);
  padding-left: 15px;
}

.expiration {
  display: flex;
}

#name-on-card {
  margin-left: 66px;
  width: 475px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background: var(--300, #E2E8F0);
}

#card-number {
  margin-left: 66px;
  width: 475px;
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  background: var(--300, #E2E8F0);
}

.title4 label {
  margin-top: 15px;
  margin-left: 68px;
  font-size: 16px;
}

.expiration {
  margin-top: 12px;
}

.expiration .col-2 {
  margin-left: 68px;
}

.expiration .col-8 {
  margin-left: 53px;
}

.row-card {
  margin-top: 8px;
}

.row-card .cvc {
  width: 312px;
  height: 40px;
  margin-left: 16px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: var(--300, #E2E8F0);
}

.expiration-left,
.expiration-right {
  width: 55px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: var(--300, #E2E8F0);
}

.wtf {
  margin-right: -37px;
  padding-left: -5px;
}

.row-card {
  margin-left: 66px;
}