.banner{
    background-color: gray;
    height:50vh;
}
.banner-title {
    position: absolute;
    bottom: 57%;
}
.banner-title h2{
    font-size: 30px;
    font-weight: bold;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
}
.aboutus-infor-detail h2{
    font-size: 32px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 45px;
    margin-top: 73px;
}
.title-aboutus {
    line-height: 30px;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.contactus{
    background-color: #FF8228;
    display: flex;
    margin-top: 70px;
}
.contactus .contact-title{
    width: 50%;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px; 
}
.contactus .contact-title h1, .contact-for-title{
    color: white;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.contactus .contact-title h1{
    font-size: 32px;
    line-height: 38.4px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 15px;
}
.contactus .contact-for-title p{
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin-bottom: 15px;
}
.contactus .contact-for-title {
    margin-bottom: 21px;
}
.btn-12,
.btn-12 *,
.btn-12 :after,
.btn-12 :before,
.btn-12:after,
.btn-12:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-12 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-12:disabled {
  cursor: default;
}

.btn-12:-moz-focusring {
  outline: auto;
}

.btn-12 svg {
  display: block;
  vertical-align: middle;
}

.btn-12 [hidden] {
  display: none;
}

.btn-12 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-12 span {
  mix-blend-mode: difference;
}

.btn-12:after,
.btn-12:before {
  background: linear-gradient(
    90deg,
    #fff 25%,
    transparent 0,
    transparent 50%,
    #fff 0,
    #fff 75%,
    transparent 0
  );
  content: "";
  inset: 0;
  position: absolute;
  transform: translateY(var(--progress, 100%));
  transition: transform 0.2s ease;
}

.btn-12:after {
  --progress: -100%;
  background: linear-gradient(
    90deg,
    transparent 0,
    transparent 25%,
    #fff 0,
    #fff 50%,
    transparent 0,
    transparent 75%,
    #fff 0
  );
  z-index: -1;
}

.btn-12:hover:after,
.btn-12:hover:before {
  --progress: 0;
}
.css-bVFrLX{
    display: grid;
    height: 100%;
    justify-content: inherit;
}
.box{
  width: 100%;
  display: flex;
  /* margin-top: 60px; */
  padding: 64px;
}
.box img{
  margin-right: 40px;
  width: 520px;
  height: 300px;
  justify-content: center;
}
.right-title{
  margin: auto;
}
.right-title h3{
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20.8px;
  line-height: 24.96px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.right-title span{
  margin-top: 13px;
  font-size: 16px;
  text-align: left;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
  Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}
.company-info{
  margin-left: 39px;
}
.company-container{
  display: flex;
  justify-content: center;
}
.card{
  background-color: white;
  width: 315px;
  height: 400px;
  margin: 10px;
}

.card-image{
  border-radius: 15px 15px 0 0;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
}
.company1{
  background-image: url(/4stu-html-css-js/assets/img/about-ec-image-01-thumb.jpg);
}
.content-title{
  padding: 10px;
}
.card p{
  padding: 10px;
}
.card a{
  padding: 10px;
}